<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SURVEY</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <h1>SURVEY - Job Number: <%= job.number %>
  </h1>
  <form action="/jobs/<%= job._id %>/survey" method="POST">
    <table>
      <thead>
        <tr>
          <th>Point</th>
          <th>HI</th>
          <th>BS</th>
          <th>FS</th>
          <th>Top of Pipe</th>
          <th>Invert Elevation</th>
        </tr>
      </thead>

      <tbody>
        <% for (note of surveyNotes) { %>
          <tr>
            <td>
              <%= note.point %>
            </td>
            <td>
              <%= note.hi %>
            </td>
            <td>
              <%= note.bs %>
            </td>
            <td>
              <%= note.fs %>
            </td>
            <td></td>
            <td>
              <%= note.elevation %>
            </td>
          </tr>
          <% } %>
            <tr>
              <td><input name="point" type="text"></td>
              <td></td>
              <td><input name="backsight" type="text"></td>
              <td><input name="foresight" type="text"></td>
              <td></td>
              <td></td>
            </tr>
      </tbody>
    </table>
    <a href="/jobs/<%= job._id %>/surveySetup" class="btn btn-outline-primary">SETUP</a>
    <a href="/jobs/<%= job._id %>/comments" class="btn btn-outline-primary">COMMENTS</a>
    <button class="btn btn-outline-primary" type="submit">ADD LINE</button>
  </form>


</body>

</html>